html, body
{
    height: 100%;
    margin: 0;
}

body
{
    background-image: linear-gradient(to right top, #3ee12c, rgb(66, 188, 210), rgb(227, 118, 194), rgb(255, 255, 255));
}

.header
{
    color: rgb(185, 89, 4);
    font-family: 'Yeon Sung';
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: 80px;
}

.header img
{
    width: 80px;
    margin-left: -15px;
}

.login_div
{
    background: rgba(132, 224, 155, 0.8);
    float: none;
    border-radius: 15px; 
}

.logo
{
    width: 80px;
    margin-top: 30px;
    border-radius: 40px;
}

#login_button
{
    width: 80%;
    border-radius: 15px;
}

